$code-background-color: #f6f8fa;
$table-td-border-color: #dfe2e5;
$table-tr-border-color: #c6cbd1;
$table-tr-background-color: #fff;
$table-tr-background-color2: #f6f8fa;

@import '@traptitech/traq-markdown-it/src/css';
@import 'highlight.js/styles/atom-one-light';
