.file {
  max-width: 480px;
}

figure.file {
  position: relative;
  img {
    width: 100%;
  }
  figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
    text-align: center;
  }
}
