.main-message {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(33, 63, 99, 0.3);
}

.message {
  >* {
    margin: 0.5rem 0;
  > * {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  header {
    display: flex;
    align-items: baseline;

    img {
      height: 1.5em;
      width: 1.5em;
      border-radius: 50%;
      align-self: center;
    }
    .name {
      margin: 0 4px;
      font-weight: bold;
    }
    .date {
      font-size: 0.8em;
    }
  }
}
